@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-transform: capitalize;
}

body {
    background-color: rgba(128, 128, 128, 0.311);
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
/*parti-icone-1*/
.content-1 {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 2s mov-1;
}

.content-logo {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
}

header h1 {
    width: 3vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 132, 0);
    color: white;
    border-radius: 50%;
}
/*parti-link*/
.content-2 {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 2s mov-1;
}

@keyframes mov-1 {
    from {
        margin-top: -50vh
    }

    to {
        margin-top: 0;
    }
}

.content-2-link {
    width: 100%;
    height: 50%;
    border-radius: 50px;
    border: 2px solid rgb(255, 255, 255);
    background-image: url(./bg-1.png);
}

.content-2-link ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    border-radius: 50px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 100;
}

.content-2-link li a {
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
    font-weight: 900;
}
/*parti-icone-2*/
#too {
    justify-content: end;
}

.pages {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*home*/
#home {
    height: 80vh;
    overflow: hidden;
    flex-wrap: wrap;
}

#taille {
    width: 26%;
    justify-content: start;
}

.content-home {
    height: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-home-card {
    width: 70%;
    height: 80%;
    background-image: url(./bg-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 20px;
    flex-wrap: wrap;
    animation: 2s mov-2;
    overflow: visible;
}

@keyframes mov-2 {
    from {
        margin-left: -50vw;
    }

    to {
        margin-left: 0;
    }
}

.card-icone {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.card-icone h1 {
    width: 5vw;
    height: 10vh;
    background-color: rgb(255, 132, 0);
    color: white;
    border-radius: 50%;
    font-size: 3vw;
    margin-top: -7vh;
    margin-right: -2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-icone h1 i {
    margin-top: 0.9vh;
}

#card-img {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: end;
}

#change {
    width: 35vw;
    margin-left: -5vw;
}

#taille-2 {
    width: 40%;
}

.content-tittle {
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    animation: 2s mov-4;
}

@keyframes mov-4 {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.content-tittle h1 {
    width: 100%;
    font-size: 10vw;
    line-height: 18vh;
    font-weight: 300;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    margin-left: -0.8vw;
}

.content-tittle p {
    width: 80%;
    height: 20%;
    font-size: 1.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-info {
    width: 85%;
    height: 30%;
}

.info-content {
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.info-1 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.info-1 a {
    width: 3vw;
    height: 6vh;
    background-color: gainsboro;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: rgb(255, 132, 0);
    text-decoration: none;
}
.info-2 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-2 a {
    width: 10vw;
    height: 5.5vh;
    background-color: rgb(255, 132, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
    font-size: 1.2vw;
    text-decoration: none;
}

.info-content-2 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: auto;
    gap: 15px;
}

.info-content-2-1 {
    width: 8vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.info-content-2-1 h2 {
    font-size: 2vw;
}

.info-content-2-1 h2 i {
    font-size: 1.2vw;
    color: rgb(255, 132, 0);
}

.info-content-2-1 p {
    width: 100%;
    text-align: center;
    font-size: 1.1vw;
}

#taille-3 {
    width: 26%;
}

.content-home-card-2 {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    animation: 2s mov-3;
}

@keyframes mov-3 {
    from {
        margin-right: -70vw;
    }

    to {
        margin-right: 0;
    }
}

.card-icone-2 {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.card-icone-2 a {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 132, 0);
    text-decoration: none;
}

.card-icone-2 i {
    width: 5vw;
    height: 5vh;
    background-color: rgba(185, 184, 184, 0.196);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.img-scrool {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow-x: scroll;
}

.img-scrool::-webkit-scrollbar {
    width: 0;
    display: none;
}

.img-scrool-content {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    transition: 2s;
}

.scrol-1 {
    width: 5vw;
    height: 10vh;
    background-color: rgba(185, 184, 184, 0.196);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid rgb(255, 132, 0);
}

.scrol-1 img {
    width: 5vw;
    filter: grayscale(100%);
    margin-top: 2vh;
}

.card-img-2 {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-2 img {
    width: 20vw;
}

.bar-key {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tittle-bar {
    width: 95%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Noto Sans", sans-serif;
}

.tittle-bar-scrolle {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow-x: scroll;
}

.tittle-bar-scrolle::-webkit-scrollbar {
    width: 0;
    display: none;
}

.tittle-bar-content {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    animation: scrolle 20s infinite linear;
}

@keyframes scrolle {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

.tittle-bar-scrolle h1 {
    font-size: 2vw;
}

.tittle-bar-scrolle span {
    color: gray;
    font-size: 1.7vw;
}

/*page-1*/
.content-page-1 {
    width: 95%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.page-1-button {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.page-1-button h3 {
    width: 10vw;
    height: 6.5vh;
    background-color: rgba(255, 166, 0, 0.055);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: rgb(255, 128, 0);
    font-size: 1.7vw;
}

.page-1-button-content {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-1-button-content a {
    width: 2.5vw;
    height: 5vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.5vw;
    border-radius: 50%;
    color: rgb(255, 132, 0);
}

.button-scrolle {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-scrolle h1 {
    font-size: 2.6vw;
}

.page-1-content {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.content-page-1-1 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.page-1-1 {
    width: 90%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(./bg-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-3 {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: end;
    padding-left: 2vw;
}

.card-3 h2 {
    width: 3vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    font-size: 2vw;
    border-radius: 50%;
    color: white;
}

.page-1-1-tittle {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: end;
    flex-wrap: wrap;
}

.page-1-1-tittle h1 {
    font-size: 4vw;
    padding-left: 2vw;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
}

.page-1-1-info {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: start;
    align-items: start;
}

.info-1-page-1 {
    width: 60%;
    height: 70%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 2vw;
}

.info-1-page-1 p {
    font-size: 1.3vw;
    width: 90%;
    color: rgba(0, 0, 0, 0.532);
}

.test-info {
    width: 100%;
    height: 20%;
}

.test-info h1 {
    width: 100%;
    font-size: 1.8vw;
}

.test-info h3 {
    width: 100%;
    font-size: 1.5vw;
    color: rgba(0, 0, 0, 0.532);
}

.test-info-2 {
    width: 100%;
    font-size: 1.5vw;
}

.test-info-2 i {
    transition: 0.8s ease-in;
}

#najma-1 {
    color: orange;
}

#najma-2 {
    color: orange;
}

#najma-3 {
    color: orange;
}

#najma-4 {
    color: orange;
}

.content-page-1-tittle {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.content-page-1-tittle h1 {
    width: 70%;
    text-align: end;
    font-size: 5vw;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    line-height: 10vh;
}

.content-page-1-card {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
}

.card-info {
    width: 90%;
    height: 30%;
    background-color: rgb(234, 233, 233);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 3px solid white;
    transition: 0.5s ease-in;
}

.card-info:hover {
    .card-info-buy h3 {
        background-color: rgb(255, 132, 0);
        color: white;
    }
}

.card-info-buy {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 3vh;
}

.card-info-buy h3 {
    width: 11vw;
    height: 6vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    transition: 0.5s ease-in;
}

.card-info-tittle {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 1.5vw;
}

.card-info-tittle h1 {
    font-size: 2.5vw;
    width: 100%;
    text-align: end;
}

.card-info-tittle p {
    width: 90%;
    text-align: end;
    font-size: 1.5vw;
}

/*page-2*/
.content-page-2 {
    width: 95%;
    height: 90%;
    background-image: url(./bg-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 30px;
    border: 3px solid white;
    overflow: hidden;
}

.tittle-page-2 {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tittle-page-2 h2 {
    width: 14vw;
    height: 6vh;
    background-color: rgb(244, 244, 244);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    color: rgb(255, 119, 0);
    font-size: 1.5vw;
}

.para-page-2 {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.para-page-2 h1 {
    width: 60%;
    font-size: 6vw;
    text-align: center;
    line-height: 12vh;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
}

.img-page-2 {
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.img-page-2 img {
    width: 40vw;
}

/*Page-3*/
.page-3-content {
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.page-3-button {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.page-3-button h3 {
    width: 13vw;
    height: 6.5vh;
    background-color: rgba(255, 166, 0, 0.055);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: rgb(255, 128, 0);
    font-size: 1.7vw;
}

.page-3-button-content {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-3-button-content a {
    width: 2.5vw;
    height: 5vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.5vw;
    border-radius: 50%;
    color: rgb(255, 132, 0);
}

.button-scrolle {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-scrolle h1 {
    font-size: 2.6vw;
}

.page-3-card {
    width: 90%;
    height: 85%;
    display: flex;
    justify-content: space-between;
}

.page-3-card-1 {
    width: 50%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.page-3-card-1 h1 {
    width: 90%;
    font-size: 7vw;
    margin-right: auto;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    line-height: 12vh;
}

.page-3-card-1-info {
    width: 100%;
    height: 20%;
    display: flex;
}

.inf-img {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrol-2 {
    width: 4.5vw;
    height: 9vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.scrol-2 img {
    width: 4vw;
    filter: grayscale(100%);
    margin-top: 2vh;
}

#img-7 {
    margin-right: -0.5vw;
}

.info-tittle {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.info-tittle i {
    color: orange;
    font-size: 1.6vw;
}

.info-tittle h2 {
    font-size: 2vw;
}

.info-tittle h3 {
    font-size: 1.5vw;
    color: rgb(174, 174, 174);
}

.page-3-card-1-info-2 {
    width: 85%;
    height: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.page-3-card-1-info-2 p {
    width: 90%;
    font-size: 1.4vw;
    color: rgb(100, 100, 100);
    text-align: end;
}

.title-para {
    width: 100%;
    margin-left: auto;
    display: flex;
    justify-content: end;
}

.title-para h3 {
    width: 12vw;
    height: 6vh;
    background-color: rgb(255, 119, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    color: white;
    font-size: 1.5vw;
}

.page-3-card-2 {
    width: 30%;
    height: 95%;
}

.page-3-card-2 img {
    width: 100%;
    height: 100%;
    border: 2px solid white;
    border-radius: 30px;
}

.card-2 h1 {
    font-size: 4vw;
    display: flex;
    align-items: center;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
}

.card-2-para {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    padding-left: 2vw;
}

.card-2-para p {
    width: 80%;
    font-size: 1.2vw;
}

.card-2-img {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: end;
}

.card-2-img img {
    width: 35vw;
    margin-top: -17.5vh;
    margin-right: -2.5vw;
}
/*page-4*/
.tittle-page-4 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tittle-page-4 h1 {
    font-size: 11vw;
    width: 60%;
    text-align: center;
    line-height: 18vh;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
}

.img-page-4 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-page-4 img {
    width: 33vw;
    filter: drop-shadow(0px 40px 30px rgba(0, 0, 0, 0.505));
}
@media (max-width:500px){
    
}