* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(234, 234, 234);
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.content-1 {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 2s mov-1;
}

.content-logo {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
}

header h1 {
    width: 3vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 132, 0);
    color: white;
    border-radius: 50%;
}

.content-2 {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 2s mov-1;
}

@keyframes mov-1 {
    from {
        margin-top: -50vh
    }

    to {
        margin-top: 0;
    }
}

.content-2-link {
    width: 100%;
    height: 50%;
    border-radius: 50px;
    border: 2px solid rgb(255, 255, 255);
    background-image: url(./bg-1.png);
}

.content-2-link ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    border-radius: 50px;
    background-color: rgba(128, 128, 128, 0.174);
}

.content-2-link li a {
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
    font-weight: 900;
}

#too {
    justify-content: end;
}

#home {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

#taille {
    width: 26%;
    justify-content: start;
}

.content-home {
    height: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-home-card {
    width: 70%;
    height: 80%;
    background-image: url(./bg-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 20px;
    flex-wrap: wrap;
    animation: 2s mov-2;
}

@keyframes mov-2 {
    from {
        margin-left: -50vw;
    }

    to {
        margin-left: 0;
    }
}

.card-icone {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.card-icone h1 {
    width: 5vw;
    height: 10vh;
    background-color: rgb(255, 132, 0);
    color: white;
    border-radius: 50%;
    font-size: 3vw;
    margin-top: -7vh;
    margin-right: -2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-icone h1 i {
    margin-top: 0.9vh;
}

#card-img {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
}

#change {
    width: 36vw;
}

#taille-2 {
    width: 40%;
}

.content-tittle {
    width: 80%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    animation: 2s mov-4;
}

@keyframes mov-4 {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.content-tittle h1 {
    width: 100%;
    font-size: 12vw;
    line-height: 18vh;
    font-weight: 300;
}

.content-tittle p {
    width: 80%;
    height: 20%;
    font-size: 1.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-info {
    width: 85%;
    height: 30%;
}

.info-content {
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.info-1 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.info-2 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-1 a {
    width: 3vw;
    height: 6vh;
    background-color: gainsboro;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: rgb(255, 132, 0);
    text-decoration: none;
}

.info-2 a {
    width: 10vw;
    height: 5.5vh;
    background-color: rgb(255, 132, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
    font-size: 1.2vw;
    text-decoration: none;
}

.info-content-2 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: auto;
    gap: 15px;
}

.info-content-2-1 {
    width: 8vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.info-content-2-1 h2 {
    font-size: 2vw;
}

.info-content-2-1 h2 i {
    font-size: 1.2vw;
    color: rgb(255, 132, 0);
}

.info-content-2-1 p {
    width: 100%;
    text-align: center;
    font-size: 1.1vw;
}

#taille-3 {
    width: 26%;
}

.content-home-card-2 {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    animation: 2s mov-3;
}

@keyframes mov-3 {
    from {
        margin-right: -70vw;
    }

    to {
        margin-right: 0;
    }
}

.card-icone-2 {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.card-icone-2 a {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 132, 0);
    text-decoration: none;
}

.card-icone-2 i {
    width: 5vw;
    height: 5vh;
    background-color: rgba(185, 184, 184, 0.196);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.img-scrool {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow-x: scroll;
}

.img-scrool::-webkit-scrollbar {
    width: 0;
    display: none;
}

.img-scrool-content {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    transition: 2s;
}

.scrol-1 {
    width: 5vw;
    height: 10vh;
    background-color: rgba(185, 184, 184, 0.196);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid rgb(255, 132, 0);
}

.scrol-1 img {
    width: 5vw;
    filter: grayscale(100%);
    margin-top: 2vh;
}

.card-img-2 {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-2 img {
    width: 20vw;
}

.bar-key {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tittle-bar {
    width: 95%;
    height: 100%;
    background-color: black;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tittle-bar-scrolle {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow-x: scroll;
}

.tittle-bar-scrolle::-webkit-scrollbar {
    width: 0;
    display: none;
}

.tittle-bar-content {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    animation: scrolle 20s infinite linear;
}

@keyframes scrolle {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

.tittle-bar-scrolle h1 {
    font-size: 2.5vw;
}

.tittle-bar-scrolle span {
    color: gray;
    font-size: 1.7vw;
}

#page-1 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
}

.page-1-content {
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.page-1-button {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.page-1-button h3 {
    width: 13vw;
    height: 6.5vh;
    background-color: rgba(255, 166, 0, 0.055);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: rgb(255, 128, 0);
    font-size: 1.7vw;
}

.page-1-button-content {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-1-button-content a {
    width: 2.5vw;
    height: 5vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.5vw;
    border-radius: 50%;
    color: rgb(255, 132, 0);
}

.button-scrolle {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-scrolle h1 {
    font-size: 2.6vw;
}

.page-1-card {
    width: 100%;
    height: 85%;
    ;
    display: flex;
    gap: 5px;
}

.page-1-card-1 {
    width: 50%;
    height: 85%;
    ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.page-1-card-1 h1 {
    width: 80%;
    font-size: 7vw;
    margin-right: auto;
}

.page-1-card-1-info {
    width: 100%;
    height: 20%;
    display: flex;
}

.inf-img {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrol-2 {
    width: 4.5vw;
    height: 9vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.scrol-2 img {
    width: 4vw;
    filter: grayscale(100%);
    margin-top: 2vh;
}

#img-7 {
    margin-right: -0.5vw;
}

.info-tittle {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.info-tittle i {
    color: orange;
    font-size: 1.6vw;
}

.info-tittle h2 {
    font-size: 2vw;
}

.info-tittle h3 {
    font-size: 1.5vw;
    color: rgb(174, 174, 174);
}

.page-1-card-1-info-2 {
    width: 85%;
    height: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.page-1-card-1-info-2 p {
    width: 82%;
    font-size: 1.4vw;
    color: rgb(100, 100, 100);
    text-align: end;
}

.title-para {
    width: 100%;
    margin-left: auto;
    display: flex;
    justify-content: end;
}

.title-para h3 {
    width: 13vw;
    height: 6vh;
    background-color: rgb(255, 119, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    color: white;
    font-size: 1.6vw;
}

.page-1-card-2 {
    width: 45%;
    height: 95%;
    background-image: url(./bg-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 30px;
    border: 2px solid white;
}

.card-2 {
    width: 100%;
    height: 15%;
    ;
    display: flex;
    align-items: center;
    padding-left: 2vw;
}

.card-2 h2 {
    width: 3vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    font-size: 2vw;
    border-radius: 50%;
    color: white;
}

.card-2 h1 {
    font-size: 4vw;
    display: flex;
    align-items: center;
}

.card-2-para {
    width: 100%;
    height: 20%;
    ;
    display: flex;
    align-items: center;
    padding-left: 2vw;
}

.card-2-para p {
    width: 55%;
    font-size: 1.4vw;
}

.card-2-img {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: end;
}

.card-2-img img {
    width: 35vw;
    margin-top: -17.5vh;
    margin-right: -2.5vw;
}

.page-1-content-2 {
    width: 5%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-1-content-2 h1 {
    rotate: 90deg;
    font-size: 3.5vw;
    margin-top: -25vh;
    color: rgb(180, 180, 180);
}

#page-2 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-page-2 {
    width: 95%;
    height: 90%;
    background-image: url(./bg-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 30px;
    border: 3px solid white;
    overflow: hidden;
}

.tittle-page-2 {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tittle-page-2 h2 {
    width: 13vw;
    height: 6vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    color: rgb(255, 119, 0);
    font-size: 1.5vw;
}

.para-page-2 {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.para-page-2 h1{
    width: 60%;
    font-size: 6vw;
    text-align: center;
    line-height: 12vh;
}

.img-page-2 {
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.img-page-2 img{
    width: 45vw;
}